{% extends 'base2.html' %}

{% block title %}Inventário ! {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1> Inventário </h1>

    
    <div class="container dashboard">   
        
        <div class="col-9 search-div">
        <form method="GET" id="search-form">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar..." value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>
        
        <div class="col-4 dashboard-box" id="dashboard-lastdays">
            <h4>Usuários</h4>
            
            {% for user in users %}
                <span><a href="{{user.id}}">{{user.nome}} | </a></span>
            {% endfor %}

        </div>
        <div class="col-4 dashboard-box" id="dashboard-done">
            <h4>Computadores</h4>
            {% for user in users %}
                <span><a href="{{user.id}}">{{user.equipamento_em_uso}} | </a></span>
            {% endfor %}
            
        </div>
        <div class="col-4 dashboard-box" id="dashboard-doing">
                <h4>Monitores</h4>
                {% for user in users %}
                <span><a href="{{user.id}}">{{user.monitor_em_uso}} | </a></span>
            {% endfor %}
    </div>
        
    <div class="col-9 search-div">
        <form method="GET" id="search-form">
          
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>
    <div class="col-12 filter-div">
        
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="pagination">
        <span class="step-links">             
            
        </span>
    </div>
</div>
{% endblock %}


